<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="assets/css/font-awesome.css" rel="stylesheet">
 <link href="assets/css/bootstrap.css" rel="stylesheet">
 <link rel="stylesheet" type="text/css" href="Login.css"> 
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link href="assets/css/font-awesome.css" rel="stylesheet">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Login</title>
</head>
<body>
<div class="container-fluid" id="mainContainer">
  <div class="container" id="subcontainer">
  <form th:action="@{/login}" method="post">
   <fieldset>
    <div th:if="${param.error}">
       <div class="alert alert-danger">
                         Invalid username or password!
        </div>
    </div>
    <div th:if="${param.logout}">
       <div class="alert alert-info">
               You have been logged out.
        </div>
   </div>
  
    <div class="row">
      <div class="col-lg-2">
        <label for="username"> Username:</label>
      </div>
      <div class="col-lg-10">
        <input type="text"  class="form-control" name="username" >
      </div>
      
   </div>
   <div class="row">
     <div class="col-lg-2">
        <label for="password">Password:</label>
      </div>
      <div  class="col-lg-10">
        <input type="password"  class="form-control" name="password">  
      </div>
   </div>
   
   <div class="row">
      <div class="col-lg-2">
       <button  type="submit" class="btn btn-default">Submit</button>
      </div>
   </div>
   <div class="form-group">
      <span>New user? <a href="/" th:href="@{/registration}">Register here</a></span>
    </div>
   </fieldset>
   </form>
  </div>
  
</div>

</body>

</html>